name: 部署图书馆内容
on: [push, repository_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 载入文件
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: 使用Node14.x
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: 缓存Node模块内容
        uses: actions/cache@v2
        env:
          cache-name: hexo-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }} # 使用 package-lock.json 的 Hash 作为缓存的 key。也可以使用 package.json 代替

      - name: 设置Hexo环境
        env:
          ACTION_DEPLOY_KEY: ${{ secrets.ACTION_DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$ACTION_DEPLOY_KEY" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com e.coding.net gitee.com >> ~/.ssh/known_hosts
          git config --global user.name 'MCSeekeri' 
          git config --global user.email 'mcseekeri@github.com'
          git ls-files -z | while read -d '' path; do touch -d $(git log -1 --format="@%ct" "$path") "$path"; done
          npm i -g hexo-cli yarn
          yarn

      - name: 部署页面并提交搜索引擎
        env:
          BAIDU_TOKEN: ${{ secrets.BAIDU_TOKEN }}
          BING_TOKEN: ${{ secrets.BING_TOKEN }}
          GOOGLE_TOKEN: ${{ secrets.GOOGLE_TOKEN }}
          HEXO_ALGOLIA_INDEXING_KEY: ${{ secrets.HEXO_ALGOLIA_INDEXING_KEY }}
        run: |
          echo "$GOOGLE_TOKEN" | tr -d '\r' >> $GITHUB_WORKSPACE/push.json
          hexo algolia && hexo generate && gulp && hexo deploy

      # - name: 部署到Cloudflare Workers
      #   uses: cloudflare/wrangler-action@1.3.0
      #   with:
      #     apiToken: ${{ secrets.CF_WORKERS_TOKEN }}
